
input {
    padding: 1em;
    font-size: 1em;
    color: var(--primaryGrayscaleColor);
    background: var(--secondaryDark);
    border-width: 0 0 2px 0;
}

.button {
    cursor: pointer;
    font-size: 1rem;
    background: var(--primaryColor);
    color: var(--primaryGrayscaleColor);
    border: none;
    border-radius: 0 4px 4px 0;
    padding: 8px 5px;
}

.button:hover {
    background: var(--secondaryColor);
}

.button:focus-visible {
    background: var(--secondaryColor);
}

.block {
    margin-bottom: 2em;
}

/* multi range sliders */
.multi-range {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.multi-range .controls {
    position: relative;
    flex: 1;
    height: fit-content;
    display: flex;
    align-items: center;
    width: 100%;
}

.multi-range .values {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: .5em;
}

.multi-range input[type=range] {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    margin: 0;
    padding: 0 2px;
    overflow: hidden;
    outline: none;
    background: linear-gradient(grey, grey) no-repeat center;
    background-size: 100% 2px;
    pointer-events: none;
    position: absolute;
}

.multi-range input[type=range].upper {
    background: none;
}

.multi-range input[type=range]::-webkit-slider-thumb {
    height: 1em;
    width: 1em;
    border-radius: 28px;
    background-color: #fff;
    margin: 5px 0;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    pointer-events: auto;
}

.multi-range input[type=range]::-moz-range-thumb {
    border-radius: 28px;
    border: none;
    pointer-events: auto;
}

.multi-range input[type=range]::-ms-thumb {
    pointer-events: auto;
    position: relative;
}

.multi-range input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.6);
    border: 2px solid var(--primaryDark);
}

.multi-range input[type="range"]::-moz-range-thumb:active {
    transform: scale(1.2);
    border: 2px solid var(--primaryDark);
}

.range-value {
    margin: 0 5px;
    height: 2em;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* input widget */
.input-widget .input-widget-form {
    display: flex;
    justify-content: space-between;
}

.input-widget .displayed-value {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--tertiaryGrayscaleColor);
    border-radius: 0.5em;
    padding-left: 0.5em;
}

.input-widget .displayed-value h3 {
    margin: 0;
}

.input-widget .displayed-value .value {
    display: flex;
    align-items: center;
}

.input-widget .displayed-value button {
    margin-left: 20px;
}

/* event name form */
.event-name-widget {
    width: 100%;
}

.event-name-widget input {
    width: 100%;
    font-size: 2em;
    padding: .25em;
}

/* identity */
.identity {
    margin-top: 20px;
}

.identity .input-widget-form {
    max-width: 260px;
}

.identity input {
    width: 100%;
    font-size: 1em;
    padding: .5em;
}

.identity .displayed-value {
    justify-content: flex-end;
    width: fit-content;
}

@media (max-width: 600px) {
    .identity {
        max-width: 100%;
    }
}

/* Pills */
.users-pills .pills {
    display: flex;
    gap: .5em;
    margin: 1em 0;
}

.pill {
    font-family: 'Montserrat', sans-serif;
    color: var(--primaryGrayscaleColor);
    background: var(--secondaryDark);
    border: 1px solid var(--secondaryColor);
    border-radius: 1em;
    width: fit-content;
    padding: .25em .5em;
    font-size: 1em;
    font-weight: normal;
    cursor: pointer;
}

.pill.checked::before {
    content: '';
    display: inline-block;
    transform: rotate(45deg);
    height: .8em;
    width: .3em;
    border-bottom: .15em solid var(--secondaryColor);
    border-right: .15em solid var(--secondaryColor);
    margin: 0 .5em 0 .25em
}

.pill.selected.checked::before {
    border-color: var(--primaryDark);
}

.pill.selected {
    background: var(--tertiaryColor);
    border: 2px solid rgba(0, 0, 0, 0.075);
    color: var(--primaryDark);
    font-weight: bold;
}
