
input {
    padding: 1em;
    font-size: 1em;
    color: var(--primaryGrayscaleColor);
    background: var(--secondaryDark);
    border-width: 0 0 2px 0;
}

.button {
    cursor: pointer;
    font-size: 1rem;
    background: var(--primaryColor);
    color: var(--primaryGrayscaleColor);
    border: none;
    border-radius: 0 4px 4px 0;
    padding: 8px 5px;
}

.button:hover {
    background: var(--secondaryColor);
}

.button:focus-visible {
    background: var(--secondaryColor);
}

.block {
    margin-bottom: 2em;
}

/* dots */
.dots {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    position: relative;
}

.dot {
    height: 5px;
    width: 5px;
    background-color: var(--primaryGrayscaleColor);
    border-radius: 50%;
    display: inline-block;
    margin: 2px;
}

/* tooltip */
.tooltip {
    display: inline-block;
    text-align: center;
    padding: .5em;
    position: absolute;
    width: 100%;
    height: 100%;
}

.tooltip .content {
    position: absolute;
    z-index: 1;
    background-color: var(--secondaryGrayscaleColor);
    color: var(--primaryDark);
    bottom: 1.5em;
    left: -4px;
    padding: .5em;
    border-radius: 6px;
    max-width: 8em;
    display: none;
    flex-wrap: wrap;
    font-weight: normal;
}

.tooltip:hover .content {
    display: flex;
}

/* multi range sliders */
.multi-range {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.multi-range .controls {
    position: relative;
    flex: 1;
    height: fit-content;
    display: flex;
    align-items: center;
    width: 100%;
}

.multi-range .values {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: .5em;
}

.multi-range input[type=range] {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    margin: 0;
    padding: 0 2px;
    overflow: hidden;
    outline: none;
    background: linear-gradient(grey, grey) no-repeat center;
    background-size: 100% 2px;
    pointer-events: none;
    position: absolute;
}

.multi-range input[type=range].upper {
    background: none;
}

.multi-range input[type=range]::-webkit-slider-thumb {
    height: 1em;
    width: 1em;
    border-radius: 28px;
    background-color: #fff;
    margin: 5px 0;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    pointer-events: auto;
}

.multi-range input[type=range]::-moz-range-thumb {
    border-radius: 28px;
    border: none;
    pointer-events: auto;
    cursor: pointer;
}

.multi-range input[type=range]::-ms-thumb {
    cursor: pointer;
    pointer-events: auto;
    position: relative;
}

.multi-range input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.6);
    border: 2px solid var(--primaryDark);
}

.multi-range input[type="range"]::-moz-range-thumb:active {
    transform: scale(1.2);
    border: 2px solid var(--primaryDark);
}

.range-value {
    margin: 0 5px;
    height: 2em;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* input widget */
.input-widget .input-widget-form {
    display: flex;
    justify-content: space-between;
}

.input-widget input {
    border-radius: 0.25em 0 0 0.25em;
}

.input-widget .displayed-value {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--tertiaryGrayscaleColor);
    border-radius: 0.5em;
    padding-left: 0.5em;
}

.input-widget .displayed-value h3 {
    margin: 0;
}

.input-widget .displayed-value .value {
    display: flex;
    align-items: center;
}

.input-widget .displayed-value button {
    margin-left: 20px;
}

/* event name form */
.event-name-widget {
    width: 100%;
    max-width: 580px;
}

.event-name-widget input {
    width: 100%;
    font-size: 2em;
    padding: .25em;
}

/* identity */
.identity {
    margin-top: 20px;
}

.identity .input-widget-form {
    max-width: 260px;
}

.identity input {
    width: 100%;
    font-size: 1em;
    padding: .5em;
}

.identity .displayed-value {
    justify-content: flex-end;
    width: fit-content;
}

@media (max-width: 600px) {
    .identity {
        max-width: 100%;
    }
}

/* Pills */
.participants {
    margin-top: 3em
}

.participants .pills {
    display: flex;
    gap: .5em;
    margin: 1em 0;
    flex-wrap: wrap;
}

.pill {
    font-family: 'Montserrat', sans-serif;
    color: var(--primaryGrayscaleColor);
    background: var(--secondaryDark);
    border: 1px solid var(--secondaryColor);
    border-radius: 1em;
    width: fit-content;
    padding: .25em .5em;
    font-size: 1em;
    font-weight: normal;
    cursor: pointer;
}

.pill.checked::before {
    content: '';
    display: inline-block;
    transform: rotate(45deg);
    height: .8em;
    width: .3em;
    border-bottom: .15em solid var(--secondaryColor);
    border-right: .15em solid var(--secondaryColor);
    margin: 0 .5em 0 .25em
}

.pill.selected.checked::before {
    border-color: var(--primaryDark);
}

.pill.selected {
    background: var(--tertiaryColor);
    border: 2px solid rgba(0, 0, 0, 0.075);
    color: var(--primaryDark);
    font-weight: bold;
}

.pill.selected.compared {
    background: var(--primaryComplementaryColor);
    border: 2px solid var(--secondaryGrayscaleColor);
    color: var(--primaryDark);
}

.participants .message {
    display: flex;
    margin-top: 1.5em;
}

.participants .content,
.participants .title {
    animation: fadeIn .25s ease;
}

.participants .message .content {
    color: var(--secondaryGrayscaleColor);
}

.participants .message .dot {
    content: '';
    height: 1em;
    width: 1em;
    background: none;
    border-radius: 50%;
    display: block;
    margin-right: .5em;
    flex-shrink: 0;
}

.participants .message .dot.selecting {
    background: var(--tertiaryColor);
}

.participants .message .dot.comparing {
    background: var(--primaryComplementaryColor);
}

/* feedback */
.feedback {
    background: none;
    border: none;
    display: flex;
    cursor: pointer;
    color: var(--primaryGrayscaleColor);
    font-size: .95em;
}

.heart {
    position: relative;
    width: 1em;
    float: left;
    margin: 0 10px;
}

.heart:before,
.heart:after {
    position: absolute;
    content: "";
    width: 9px;
    height: 16px;
    background: var(--tertiaryColor);
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.heart:after {
    left: -1px;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

.feedback-modal .overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--secondaryDark);
    opacity: .5;
}

.feedback-modal .container {
    width: 400px;
    position: absolute;
    z-index: 2;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
    display: flex;
    animation: fadeIn .25s ease;
}

.feedback-modal .content {
    width: 100%;
    background: var(--primaryGrayscaleColor);
    color: var(--primaryDark);
    padding: 2em;
    display: flex;
    flex-direction: column;
    border-radius: 1.5em 0 1.5em 1.5em;
}

.feedback-modal .close {
    width: 1.5em;
    height: 2em;
    cursor: pointer;
}

/* settings */
.content .results {
    margin-top: .5em;
}

.content .settings {
    margin-top: 10.5em;
}

.content .settings h3 {
    margin-bottom: 3.3em;
}

.content .settings .input-label {
    display: block;
    margin-bottom: 1.5em;
    cursor: pointer;
}

.content .settings .input-label input {
    margin-right: .5em;
    width: 1em;
    height: 1em;
}

.content aside.left {
    max-width: 300px;
}

.content aside.left .toggle-settings {
    margin-bottom: 1em;
    align-self: center;
}

.content aside.left.collapsed {
    max-width: 50px;
    min-width: 50px !important;
}

.content aside.left.collapsed .settings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content aside.left.collapsed .settings h3 {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.content aside.left.collapsed .settings h3::before {
    content: '';
    width: .8em;
    height: .8em;
    background: var(--primaryGrayscaleColor);
    border-radius: 50%;
    margin-right: .5em;
    position: absolute;
    top: -1.5em;
    margin-left: 4px;
}

.content aside.left .settings .controls {
    animation: fadeIn .25s ease;
}

.content aside.left.collapsed .settings .controls {
    display: none;
    width: 0;
}

.content aside.left.collapsed .settings .chevron {
    margin-left: -10px;
}


/* chevron */
.chevron {
    color: var(--primaryGrayscaleColor);
    background: none;
    border: none;
    cursor: pointer;
}

.chevron::before {
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    position: relative;
    top: 0.15em;
    left: 0.25em;
    transform: rotate(-135deg);
    vertical-align: top;
    width: 0.45em;
}

.collapsed .chevron:before {
    left: 0;
    transform: rotate(45deg);
}

@media (max-width: 600px) {
    .feedback {
        display: none;
    }
}
