
input {
    padding: 1em;
    font-size: 1em;
    color: var(--primaryGrayscaleColor);
    background: var(--secondaryDark);
    border-width: 0 0 2px 0;
}

.button {
    cursor: pointer;
    font-size: 1rem;
    background: var(--primaryColor);
    color: var(--primaryGrayscaleColor);
    border: none;
    border-radius: 0 4px 4px 0;
    padding: 8px 5px;
}

.button:hover {
    background: var(--secondaryColor);
}

.button:focus-visible {
    background: var(--secondaryColor);
}

.multi-range {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.multi-range .controls {
    position: relative;
    flex: 1;
    height: fit-content;
    display: flex;
    align-items: center;
    width: 100%;

}

.multi-range .values {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: .5em;
}

input[type=range] {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    margin: 0;
    padding: 0 2px;
    /* Add some L/R padding to ensure box shadow of handle is shown */
    overflow: hidden;
    border: 0;
    border-radius: 1px;
    outline: none;
    background: linear-gradient(grey, grey) no-repeat center;
    /* Use a linear gradient to generate only the 2px height background */
    background-size: 100% 2px;
    pointer-events: none;
}

input[type=range]:active,
input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    height: 1em;
    width: 1em;
    border-radius: 28px;
    background-color: #fff;
    position: relative;
    margin: 5px 0;
    /* Add some margin to ensure box shadow is shown */
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    pointer-events: all;
    box-shadow: 0 1px 4px 0.5px rgba(0, 0, 0, 0.25);
}

input[type=range]::-webkit-slider-thumb::before {
    content: ' ';
    display: block;
    position: absolute;
    top: 13px;
    left: 100%;
    width: 2000px;
    height: 2px;
}

/* multi range slider */
.multi-range input[type=range] {
    position: absolute;
}

.multi-range input[type=range]:nth-child(1)::-webkit-slider-thumb::before {
    background-color: red;
}

.multi-range input[type=range]:nth-child(2) {
    background: none;
}

.multi-range input[type=range]:nth-child(2)::-webkit-slider-thumb::before {
    background-color: grey;
}

.multi-range input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.6);
    border: 2px solid var(--primaryDark);
}

.range-value {
    margin: 0 5px;
    height: 2em;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* event name form */
.event-name-widget {
    width: 100%;
}

.event-name-form {
    display: flex;
}

.displayed-event-name {
    display: flex;
    justify-content: space-between;
}
